body {
    background-color: #e6e6e6;
}

.container {
    margin: auto;
}

#form {
    width: 50%;
    max-width: 500px;
    margin: auto;
    text-align: center;
    background-color: #ffff99;
    padding: 1em;
    margin-top: 3em;
    box-shadow: 1px 1px 1px #000000;
    border: solid 10px;
}

input {
    width: 75%;
    padding: 0.2em;
    margin: 0.2em;
    box-shadow: 1px 1px 1px #000000;
}

.submitbutton {
    width: 25%;
    align-content: right;
}
